<?xml version="1.0"?>
<configuration>
  <!--  -->
  <appSettings>
    <add key="Main.ConnectionString" value="Data Source=localhost;Initial Catalog=AIDE;User Id = user;Password = password"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation strict="false" explicit="true" targetFramework="4.5" debug="true"/>
    <httpRuntime/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.serviceModel>
    <diagnostics performanceCounters="All">
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true" maxSizeOfMessageToLog="262144000"/>
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="DataServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="128" maxConcurrentSessions="128" maxConcurrentInstances="128"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <customBinding>
        <binding name="duplexConfig" receiveTimeout="00:10:00" sendTimeout="00:10:00" >
          <reliableSession maxPendingChannels="128"/>
          <security authenticationMode="SecureConversation">
            <secureConversationBootstrap/>
          </security>
          <compositeDuplex/>
          <oneWay/>
          <textMessageEncoding/>
          <httpTransport/>
        </binding>
      </customBinding>
      <netTcpBinding>
        <binding>
          <security mode="Transport"/>
          <reliableSession enabled="true"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="DataServiceBehavior" name="GDC.PH.AIDE.DCService.AIDEService">
        <endpoint address="basic" binding="basicHttpBinding" name="basic" contract="GDC.PH.AIDE.DCService.IAideService2"/>
        <endpoint address="dual" binding="customBinding" bindingConfiguration="duplexConfig" name="dual" contract="GDC.PH.AIDE.DCService.IAideService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:49627/AIDEService.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
