USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSabaCourses]    Script Date: 07/10/2019 2:20:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllContributors]
@LEVEL INT
AS
BEGIN							
	
	SELECT  b.LAST_NAME + ', ' + b.FIRST_NAME as 'FULL_NAME',b.IMAGE_PATH as 'IMAGE_PATH',c.DESCR as 'DEPARTMENT',d.DESCR as 'DIVISION', e.DESCR as 'POSITION' FROM CONTRIBUTORS a 
	INNER JOIN EMPLOYEE b ON a.EMP_ID = b.EMP_ID
	INNER JOIN DEPARTMENT c ON b.DEPT_ID = c.DEPT_ID
	INNER JOIN DIVISION d ON b.DIV_ID = d.DIV_ID
	INNER JOIN POSITION e ON b.POS_ID = e.POS_ID
	WHERE a.CONTRI_LVL = @LEVEL

END