USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllLessonLearnt]    Script Date: 12/05/2019 11:42:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[sp_GetAllLessonLearnt]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[sp_GetAllLessonLearnt]
GO

CREATE PROCEDURE [dbo].[sp_GetAllLessonLearnt]
	@EMAIL_ADDRESS VARCHAR(MAX)
AS
	
	DECLARE @DEPT_ID AS INT = (SELECT DEPT_ID FROM EMPLOYEE e INNER JOIN CONTACTS c
							   ON e.EMP_ID = c.EMP_ID WHERE c.EMAIL_ADDRESS = @EMAIL_ADDRESS) 
	
	DECLARE @DIV_ID AS INT = (SELECT DIV_ID FROM EMPLOYEE e INNER JOIN CONTACTS c
							  ON e.EMP_ID = c.EMP_ID WHERE c.EMAIL_ADDRESS = @EMAIL_ADDRESS) 

	SELECT 
		[REF_NO], 
		[L].[EMP_ID], 
		[FIRST_NAME] AS NICK_NAME, 
		[PROBLEM], 
		[RESOLUTION], 
		[ACTION_NO]
	FROM LESSON_LEARNT L INNER JOIN EMPLOYEE E on L.EMP_ID = E.EMP_ID 
	AND E.DEPT_ID = @DEPT_ID
	AND E.DIV_ID = @DIV_ID
	ORDER BY DATE_CREATED DESC

