USE [AIDE]
GO

	-- Refresh table
	TRUNCATE TABLE WEEK_RANGE

	-- Populate week range
	DECLARE	@return_value int

	EXEC	@return_value = [dbo].[sp_InsertWeekRange]
			@CURRENT_DATE = '2019-01-01'

	SELECT	'Return Value' = @return_value

	GO

	-- Weekly Report
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 75 WHERE WR_WEEK_RANGE_ID = 2
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 76 WHERE WR_WEEK_RANGE_ID = 3
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 77 WHERE WR_WEEK_RANGE_ID = 4
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 78 WHERE WR_WEEK_RANGE_ID = 5
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 79 WHERE WR_WEEK_RANGE_ID = 6
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 80 WHERE WR_WEEK_RANGE_ID = 7
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 81 WHERE WR_WEEK_RANGE_ID = 8
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 82 WHERE WR_WEEK_RANGE_ID = 9
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 83 WHERE WR_WEEK_RANGE_ID = 10
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 84 WHERE WR_WEEK_RANGE_ID = 11
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 85 WHERE WR_WEEK_RANGE_ID = 1002
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 86 WHERE WR_WEEK_RANGE_ID = 1003
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 87 WHERE WR_WEEK_RANGE_ID = 1004
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 88 WHERE WR_WEEK_RANGE_ID = 1005
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 89 WHERE WR_WEEK_RANGE_ID = 1006
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 90 WHERE WR_WEEK_RANGE_ID = 1007
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 91 WHERE WR_WEEK_RANGE_ID = 1008
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 92 WHERE WR_WEEK_RANGE_ID = 1009
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 93 WHERE WR_WEEK_RANGE_ID = 1010
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 94 WHERE WR_WEEK_RANGE_ID = 1011
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 95 WHERE WR_WEEK_RANGE_ID = 1012
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 96 WHERE WR_WEEK_RANGE_ID = 1013
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 97 WHERE WR_WEEK_RANGE_ID = 1014
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 98 WHERE WR_WEEK_RANGE_ID = 1015
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 99 WHERE WR_WEEK_RANGE_ID = 1016
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 100 WHERE WR_WEEK_RANGE_ID = 1017
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 101 WHERE WR_WEEK_RANGE_ID = 1018
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 102 WHERE WR_WEEK_RANGE_ID = 2018
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 103 WHERE WR_WEEK_RANGE_ID = 3018
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 104 WHERE WR_WEEK_RANGE_ID = 4018
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 105 WHERE WR_WEEK_RANGE_ID = 5018
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 106 WHERE WR_WEEK_RANGE_ID = 6018
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 107 WHERE WR_WEEK_RANGE_ID = 6019
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 108 WHERE WR_WEEK_RANGE_ID = 7019
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 109 WHERE WR_WEEK_RANGE_ID = 7020
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 110 WHERE WR_WEEK_RANGE_ID = 8020
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 111 WHERE WR_WEEK_RANGE_ID = 8021
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 112 WHERE WR_WEEK_RANGE_ID = 8022
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 113 WHERE WR_WEEK_RANGE_ID = 8023
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 114 WHERE WR_WEEK_RANGE_ID = 9023
	UPDATE WEEKLY_REPORT SET WR_WEEK_RANGE_ID = 115 WHERE WR_WEEK_RANGE_ID = 9024

	-- Weekly Report Xref
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 75 WHERE WEEK_RANGE = 2
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 76 WHERE WEEK_RANGE = 3
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 77 WHERE WEEK_RANGE = 4
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 78 WHERE WEEK_RANGE = 5
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 79 WHERE WEEK_RANGE = 6
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 80 WHERE WEEK_RANGE = 7
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 81 WHERE WEEK_RANGE = 8
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 82 WHERE WEEK_RANGE = 9
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 83 WHERE WEEK_RANGE = 10
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 84 WHERE WEEK_RANGE = 11
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 85 WHERE WEEK_RANGE = 1002
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 86 WHERE WEEK_RANGE = 1003
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 87 WHERE WEEK_RANGE = 1004
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 88 WHERE WEEK_RANGE = 1005
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 89 WHERE WEEK_RANGE = 1006
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 90 WHERE WEEK_RANGE = 1007
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 91 WHERE WEEK_RANGE = 1008
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 92 WHERE WEEK_RANGE = 1009
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 93 WHERE WEEK_RANGE = 1010
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 94 WHERE WEEK_RANGE = 1011
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 95 WHERE WEEK_RANGE = 1012
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 96 WHERE WEEK_RANGE = 1013
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 97 WHERE WEEK_RANGE = 1014
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 98 WHERE WEEK_RANGE = 1015
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 99 WHERE WEEK_RANGE = 1016
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 100 WHERE WEEK_RANGE = 1017
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 101 WHERE WEEK_RANGE = 1018
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 102 WHERE WEEK_RANGE = 2018
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 103 WHERE WEEK_RANGE = 3018
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 104 WHERE WEEK_RANGE = 4018
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 105 WHERE WEEK_RANGE = 5018
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 106 WHERE WEEK_RANGE = 6018
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 107 WHERE WEEK_RANGE = 6019
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 108 WHERE WEEK_RANGE = 7019
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 109 WHERE WEEK_RANGE = 7020
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 110 WHERE WEEK_RANGE = 8020
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 111 WHERE WEEK_RANGE = 8021
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 112 WHERE WEEK_RANGE = 8022
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 113 WHERE WEEK_RANGE = 8023
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 114 WHERE WEEK_RANGE = 9023
	UPDATE WEEKLY_REPORT_XREF SET WEEK_RANGE = 115 WHERE WEEK_RANGE = 9024