USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActionLists]    Script Date: 6/17/2019 7:31:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllActionLists]
@REF_ID varchar(max),
@EMAIL_ADDRESS varchar(max)

AS
DECLARE @CheckIfMeron int = (select COUNT(*) as NUMBER from ACTION_REFERNCE_3CS a where a.REF_ID = @REF_ID),
		@DEPT_ID INT = (SELECT A.DEPT_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS),
		@DIV_ID INT = (SELECT A.DIV_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)
		print @CheckIfMeron
		
BEGIN							
 
 if @CheckIfMeron = 0

	SELECT  a.ACTREF AS ACTREF, a.ACT_MESSAGE as ACT_MESSAGE, a.DUE_DATE AS DUE_DATE 
	from ACTIONLIST a INNER JOIN EMPLOYEE B
	ON A.EMP_ID = B.EMP_ID
	WHERE a.ACT_STATUS = 0 AND B.DEPT_ID = @DEPT_ID AND B.DIV_ID = @DIV_ID
	ORDER BY A.DATE_CREATED DESC
ELSE

	SELECT  a.ACTREF AS ACTREF, a.ACT_MESSAGE as ACT_MESSAGE, a.DUE_DATE AS DUE_DATE 
	from ACTIONLIST a INNER JOIN EMPLOYEE B
	ON A.EMP_ID = B.EMP_ID
	WHERE a.ACTREF NOT IN (select b.ACTREF from ACTION_REFERNCE_3CS b WHERE b.REF_ID= @REF_ID ) 
	AND a.ACT_STATUS = 0 AND B.DEPT_ID = @DEPT_ID AND B.DIV_ID = @DIV_ID
	ORDER BY A.DATE_CREATED DESC
END
GO
