USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTasksByPrimaryKey]    Script Date: 6/17/2019 7:31:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetTasksByPrimaryKey]
	@TASK_ID int,
	@EMP_ID int
AS

	SELECT 
		[TASK_ID], [EMP_ID], [INC_ID], [TASK_TYPE], [PROJ_ID], [INC_DESCR], [TASK_DESCR], [DATE_STARTED], [TARGET_DATE], [COMPLTD_DATE], [DATE_CREATED], [STATUS], [REMARKS], [EFFORT_EST], [ACT_EFFORT_EST], [ACT_EFFORT_EST_WK], [PROJECT_CODE], [REWORK], [PHASE], [OTHERS_1], [OTHERS_2], [OTHERS_3]
	FROM [dbo].[TASKS]
	WHERE 
			[TASK_ID] = @TASK_ID AND 
	[EMP_ID] = @EMP_ID



GO
