USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetTasksDetailByTaskId]    Script Date: 6/17/2019 7:31:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[sp_GetTasksDetailByTaskId] 
	-- Add the parameters for the stored procedure here

 @TASK_ID int

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT * FROM TASKS WHERE TASK_ID = @TASK_ID
END




GO
