USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAssignedProjectsByEmpId]    Script Date: 6/17/2019 7:31:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAssignedProjectsByEmpId]

@EMP_ID as Int 

as
begin

select ASSIGNED_PROJECTS.EMP_ID, ASSIGNED_PROJECTS.PROJ_ID,
CONCAT(EMPLOYEE.FIRST_NAME,' ', EMPLOYEE.LAST_NAME) As EMPLOYEENAME,
PROJECT.PROJ_NAME, ASSIGNED_PROJECTS.DATE_CREATED, ASSIGNED_PROJECTS.START_PERIOD, ASSIGNED_PROJECTS.END_PERIOD

from ASSIGNED_PROJECTS
inner join EMPLOYEE on ASSIGNED_PROJECTS.EMP_ID = EMPLOYEE.EMP_ID
inner join PROJECT on ASSIGNED_PROJECTS.PROJ_ID = PROJECT.PROJ_ID

where ASSIGNED_PROJECTS.EMP_ID = @EMP_ID
end



GO
