USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetWeeklyReportsByEmpID]    Script Date: 5/31/2019 8:59:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_GetWeeklyReportsByEmpID]
@EMP_ID INT

AS
BEGIN

  SELECT DISTINCT WR_WEEK_RANGE_ID AS WEEKRANGEID, 
				  WR_DATE_CREATED AS DATECREATED, 
				  WEEK_START AS STARTWEEK, 
				  WEEK_END AS ENDWEEK
  FROM WEEKLY_REPORT, WEEK_RANGE  
  WHERE WR_EMP_ID = @EMP_ID
  AND WR_WEEK_RANGE_ID = WEEK_ID 
  ORDER BY WR_WEEK_RANGE_ID DESC

END
 


