USE [AIDE]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS (SELECT * FROM sys.objects WHERE type = 'P' AND OBJECT_ID = OBJECT_ID('dbo.sp_GetOption'))
    BEGIN
        DROP PROCEDURE [dbo].[sp_GetOption]
    END
GO

CREATE PROCEDURE [dbo].[sp_GetOption]
	@OPTION_ID INT,
	@MODULE_ID INT,
	@FUNCTION_ID INT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	DECLARE @SQLSTR VARCHAR(MAX)

		SET @SQLSTR = 'SELECT VALUE FROM [DBO].[OPTION] WHERE OPTIONID = ' + CONVERT(VARCHAR(50), @OPTION_ID)

	IF NOT @MODULE_ID IS NULL	
		SET @SQLSTR = @SQLSTR + ' AND MODULEID = ' + CONVERT(VARCHAR(50), @MODULE_ID)

	IF NOT @FUNCTION_ID IS NULL
		SET @SQLSTR = @SQLSTR + ' AND FUNCTIONID = ' + CONVERT(VARCHAR(50), @FUNCTION_ID)

	
	EXEC(@SQLSTR)
END

GO
