USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllActionListsViaSearch]    Script Date: 6/17/2019 7:31:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllActionListsViaSearch]
@REF_ID varchar(max),
@KEYWORDACTION varchar(max),
@EMAIL_ADDRESS varchar(50)

AS
DECLARE @CheckIfMeron int = (select COUNT(*) as NUMBER from ACTION_REFERNCE_3CS a where a.REF_ID = @REF_ID)
		print @CheckIfMeron

BEGIN			
			
 
 if @CheckIfMeron = 0
	SELECT  a.ACTREF AS ACTREF, a.ACT_MESSAGE as ACT_MESSAGE, a.DUE_DATE AS DUE_DATE 
	from ACTIONLIST a INNER JOIN EMPLOYEE B
	ON A.EMP_ID = B.EMP_ID
	WHERE a.ACT_STATUS = 0 AND ACT_MESSAGE LIKE  + @KEYWORDACTION + '%'
	AND B.DEPT_ID = (SELECT A.DEPT_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)
	AND B.DIV_ID = (SELECT A.DIV_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)
	ORDER BY A.DATE_CREATED DESC
ELSE

	SELECT  a.ACTREF AS ACTREF, a.ACT_MESSAGE as ACT_MESSAGE, a.DUE_DATE AS DUE_DATE 
	from ACTIONLIST a INNER JOIN EMPLOYEE B
	ON A.EMP_ID = B.EMP_ID
	WHERE a.ACTREF NOT IN (select b.ACTREF from ACTION_REFERNCE_3CS b WHERE b.REF_ID= @REF_ID ) 
	AND a.ACT_STATUS = 0 AND a.ACT_MESSAGE LIKE + @KEYWORDACTION + '%'
	AND B.DEPT_ID = (SELECT A.DEPT_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)
	AND B.DIV_ID = (SELECT A.DIV_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)
	ORDER BY A.DATE_CREATED DESC
	
END
GO
