USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllContributors]    Script Date: 6/17/2019 7:31:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllContributors]
@LEVEL INT
AS
BEGIN							
	
	SELECT  FULL_NAME, IMAGE_PATH, DEPARTMENT, DIVISION, POSITION FROM CONTRIBUTORS 
	WHERE CONTRI_LVL = @LEVEL

END
GO
