USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_GetSabaCourseByTitle]    Script Date: 6/17/2019 7:31:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetSabaCourseByTitle] 

	@MESSAGE VARCHAR(MAX),
	@EMAIL_ADDRESS VARCHAR(50)
AS

BEGIN

	SELECT a.ACTREF,a.ACT_MESSAGE,a.EMP_ID,a.DUE_DATE,a.DATE_CLOSED,b.NICK_NAME
	FROM dbo.ACTIONLIST a INNER JOIN dbo.EMPLOYEE b 
	ON a.EMP_ID = b.EMP_ID
	WHERE ACT_MESSAGE LIKE '%' + @MESSAGE + '%'
	AND B.DEPT_ID = (SELECT A.DEPT_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)
	AND B.DIV_ID = (SELECT A.DIV_ID FROM EMPLOYEE A INNER JOIN CONTACTS B
					   ON A.EMP_ID = B.EMP_ID WHERE B.EMAIL_ADDRESS = @EMAIL_ADDRESS)

END
GO
