USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAttendance]    Script Date: 11/18/2019 12:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS (select * from dbo.sysobjects where id = object_id(N'[dbo].[sp_InsertAttendance]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
DROP PROCEDURE [dbo].sp_InsertAttendance
GO


CREATE PROCEDURE [dbo].[sp_InsertAttendance]
	@EMP_ID INT,
	@DATE_ENTRY DATETIME
AS

DECLARE @SHIFT VARCHAR(10) = (SELECT SHIFT_STATUS FROM EMPLOYEE WHERE EMP_ID = @EMP_ID)
DECLARE @ONSITE_STATUS SMALLINT = (SELECT ONSITE_FLG FROM LOCATION l, CONTACTS c WHERE c.LOCATION = l.LOCATION_ID AND EMP_ID = @EMP_ID)
DECLARE @STATUS INT = 2
DECLARE @COUNT TINYINT = (SELECT COUNT(a.DATE_ENTRY) FROM ATTENDANCE a 
						  WHERE a.EMP_ID = @EMP_ID 
						  AND CONVERT(VARCHAR,a.DATE_ENTRY,101) = CONVERT(VARCHAR, @DATE_ENTRY,101))

DECLARE @GETCURMORNINGTART NVARCHAR(20)
DECLARE @GETCURAFTERNOONSTART NVARCHAR(20) 

SET @GETCURMORNINGTART = CONVERT(NVARCHAR(20),CONVERT(date,@DATE_ENTRY)) 	
SET @GETCURAFTERNOONSTART = CONVERT(NVARCHAR(20),CONVERT(date,@DATE_ENTRY))
SET @GETCURMORNINGTART = @GETCURMORNINGTART + ' 00:00:00'
SET @GETCURAFTERNOONSTART = @GETCURAFTERNOONSTART + ' 14:00:00'


IF @ONSITE_STATUS != 0
	BEGIN
		SET @STATUS = 1
	END

if @COUNT = 0
	begin
		IF CONVERT(VARCHAR(10), @DATE_ENTRY, 108) >= '10:01:00' AND @SHIFT != 'Flexi'
		BEGIN
			SET @STATUS = 11
		END

		INSERT [dbo].[ATTENDANCE]
							([EMP_ID],[DATE_ENTRY],[STATUS])VALUES (@EMP_ID,@DATE_ENTRY,@STATUS)
	END
ELSE
	BEGIN
		DECLARE @GETFROMDT DATE
		DECLARE @GETLEAVEDT DATETIME

		SET @GETFROMDT = CONVERT(date, @DATE_ENTRY,101)
		SET @GETLEAVEDT = (SELECT DATE_ENTRY FROM ATTENDANCE a 
									   WHERE a.EMP_ID = @EMP_ID 
									   AND CONVERT(VARCHAR,a.DATE_ENTRY,101) = CONVERT(VARCHAR, @GETFROMDT,101))
		SELECT @GETLEAVEDT
		DECLARE @currStatus INT = (SELECT STATUS FROM ATTENDANCE a 
									   WHERE a.EMP_ID = @EMP_ID 
									   AND CONVERT(VARCHAR,a.DATE_ENTRY,101) = CONVERT(VARCHAR, @GETFROMDT,101))
		IF NOT @currStatus IN (2,3,4,8,11)
			BEGIN
			IF @currStatus in (9,5,6,12,14)
			BEGIN
				--RECENT LEAVE IF MORNING OR AFTERNOON
				---IF CURRENT LEAVE IS MORNING THEN APPLY LEAVE FOR AFTERNOON
				IF CONVERT(VARCHAR(10), @GETLEAVEDT, 108) BETWEEN '00:00:00' AND '13:59:59'
						INSERT [dbo].[ATTENDANCE]
							([EMP_ID],[DATE_ENTRY],[STATUS])VALUES (@EMP_ID,@GETCURAFTERNOONSTART,@STATUS)
					ELSE ---IF CURRENT LEAVE IS AFTERNOON THEN APPLY LEAVE FOR MORNING
						INSERT [dbo].[ATTENDANCE]
								([EMP_ID],[DATE_ENTRY],[STATUS])VALUES (@EMP_ID,@GETCURMORNINGTART,@STATUS)
			END
			else
				UPDATE ATTENDANCE SET STATUS = @STATUS 
				WHERE EMP_ID = @EMP_ID 
				AND CONVERT(VARCHAR,DATE_ENTRY,101) = CONVERT(VARCHAR, @DATE_ENTRY,101)
			END
	END





