USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertLeaveCredits]    Script Date: 6/17/2019 7:31:08 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_InsertLeaveCredits]
	@EMAIL_ADDRESS VARCHAR(100),
	@YEAR INT
AS
BEGIN

	DECLARE @EMPID INT = (SELECT E.EMP_ID FROM EMPLOYEE E INNER JOIN CONTACTS C ON E.EMP_ID = C.EMP_ID WHERE EMAIL_ADDRESS = @EMAIL_ADDRESS)
	DECLARE @DEPTID INT = (SELECT DEPT_ID FROM EMPLOYEE WHERE EMP_ID = @EMPID)
	DECLARE @DIVID INT = (SELECT DIV_ID FROM EMPLOYEE WHERE EMP_ID = @EMPID)
	DECLARE @FIRSTMONTH DATE, @PREVFIRSTMONTH DATE
	DECLARE @LASTMONTH DATE, @PREVLASTMONTH DATE
	DECLARE @VLUSEDLEAVES FLOAT
	DECLARE @SLUSEDLEAVES FLOAT
	DECLARE @VLBALANCE FLOAT, @SLBALANCE FLOAT

	-- Set Previous Fiscal Year
	SET @PREVFIRSTMONTH = CAST('4/1/' + Cast(@YEAR - 1 as varchar) AS DATE)
	SET @PREVLASTMONTH = CAST('3/31/' + Cast(@YEAR as varchar) AS DATE)

	-- Set Current Fiscal Year
	SET @FIRSTMONTH = CAST('4/1/' + Cast(@YEAR as varchar) AS DATE)
	SET @LASTMONTH = CAST('3/31/' + Cast(@YEAR + 1 as varchar) AS DATE)
		
	DECLARE @counter INT = 1
	DECLARE @total INT = (SELECT COUNT(EMP_ID) FROM EMPLOYEE WHERE DEPT_ID = @DEPTID AND DIV_ID = @DIVID)
	
	WHILE (@counter <= @total)
	BEGIN
		-- Selecting employee ID
		SET @EMPID = (SELECT EMP_ID 
					  FROM (SELECT ROW_NUMBER() OVER (ORDER BY EMP_ID ASC) AS rownumber, EMP_ID 
							FROM EMPLOYEE 
							WHERE DEPT_ID = @DEPTID 
							AND DIV_ID = @DIVID) as temptablename 
					  WHERE rownumber = @counter)

		-- Select used VL of employee
		SET @VLUSEDLEAVES = (SELECT ISNULL(SUM(COUNTS), 0) 
							 FROM RESOURCE_PLANNER 
							 WHERE EMP_ID = @EMPID 
							 AND STATUS IN (4, 6, 8, 9) 
							 AND DATE_ENTRY BETWEEN @PREVFIRSTMONTH AND @PREVLASTMONTH) 

		SET @SLUSEDLEAVES = (SELECT ISNULL(SUM(COUNTS), 0)
							 FROM RESOURCE_PLANNER
							 WHERE EMP_ID = @EMPID 
							 AND STATUS IN (3, 5)
							 AND DATE_ENTRY BETWEEN @PREVFIRSTMONTH AND @PREVLASTMONTH) 

		SET @VLBALANCE = (SELECT LEAVE_CREDITS - @VLUSEDLEAVES
						  FROM LEAVE_CREDITS
						  WHERE STATUS = 4 AND EMP_ID = @EMPID 
						  AND FY_START = @PREVFIRSTMONTH)

		SET @SLBALANCE = (SELECT LEAVE_CREDITS - @VLUSEDLEAVES
						  FROM LEAVE_CREDITS
						  WHERE STATUS = 3 AND EMP_ID = @EMPID
						  AND FY_START = @PREVFIRSTMONTH)

		DECLARE @item INT = (SELECT COUNT(*) FROM LEAVE_CREDITS WHERE FY_START = @FIRSTMONTH AND EMP_ID = @EMPID)
		IF @item = 0
		BEGIN
			IF @VLBALANCE > 10
				SET @VLBALANCE = 10

			DECLARE @totalSLBalance FLOAT = @SLBALANCE + 15
			DECLARE @totalVLBalance FLOAT = @VLBALANCE + 15

			IF @totalSLBalance > 45
				SET @totalSLBalance = 45
			
			INSERT INTO LEAVE_CREDITS VALUES (@EMPID, @totalVLBalance, 4, @FIRSTMONTH, @LASTMONTH)
			INSERT INTO LEAVE_CREDITS VALUES (@EMPID, @totalSLBalance, 3, @FIRSTMONTH, @LASTMONTH)
		END

		SET @counter = @counter + 1
	END
END
GO
