USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAttendanceStatus]    Script Date: 11/18/2019 12:56:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF EXISTS (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[sp_UpdateAttendanceStatus]') and OBJECTPROPERTY(id, N'IsProcedure') = 1)
	DROP PROCEDURE [dbo].[sp_UpdateAttendanceStatus]
GO

CREATE PROCEDURE [dbo].[sp_UpdateAttendanceStatus]
	@EMP_ID INT,
	@LOCATION VARCHAR(50),
	@DATE_REVIEWED DATE
AS
	DECLARE @ONSITE_STATUS SMALLINT, 
			@STATUS SMALLINT

	SET @ONSITE_STATUS = (SELECT ONSITE_FLG FROM LOCATION L 
						  WHERE LOCATION_ID = @LOCATION)

	-- Mark as Onsite
	IF @ONSITE_STATUS != 0
		SET @STATUS = 1	
	ELSE
		SET @STATUS = 2

	IF EXISTS (SELECT (1) FROM ATTENDANCE WHERE EMP_ID = @EMP_ID AND CONVERT(DATE, DATE_ENTRY) = CONVERT(DATE, @DATE_REVIEWED) AND STATUS IN (1,2))
		BEGIN
			SELECT @STATUS
			UPDATE ATTENDANCE SET [STATUS] = @STATUS 
			WHERE EMP_ID = @EMP_ID 
			AND STATUS IN (1,2)
			AND CONVERT(DATE, DATE_ENTRY) = CONVERT(DATE, @DATE_REVIEWED)
		END




