USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertWeeklyReport]    Script Date: 6/3/2019 10:19:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateWeeklyReport] 
			@WR_ID INT,
			@WR_RANGE_ID INT, 
			@PROJ_ID SMALLINT, 
			@REWORK SMALLINT, 
			@REF_ID VARCHAR(10),
			@SUBJECT VARCHAR(MAX),
			@SEVERITY SMALLINT,
			@INC_TYPE SMALLINT,
			@EMP_ID INT, 
			@PHASE SMALLINT,
			@STATUS SMALLINT, 
			@DATE_STARTED DATE,  
			@DATE_TARGET DATE,  
			@DATE_FINISHED DATE,
			@EFFORT_EST FLOAT, 
			@ACT_EFFORT FLOAT, 
			@ACT_EFFORT_WK FLOAT, 
			@COMMENTS VARCHAR(MAX),
			@INBOUND_CONTACTS SMALLINT

AS

SET NOCOUNT ON

UPDATE WEEKLY_REPORT SET 
	[WR_PROJ_ID] = @PROJ_ID,
	[WR_REWORK] = @REWORK,
	[WR_REF_ID] = @REF_ID,
	[WR_SUBJECT] = @SUBJECT,
	[WR_SEVERITY] = @SEVERITY,
	[WR_INC_TYPE] = @INC_TYPE,
	[WR_PHASE] = @PHASE,
	[WR_STATUS] = @STATUS,
	[WR_DATE_STARTED] = @DATE_STARTED,
	[WR_DATE_TARGET] = @DATE_TARGET,
	[WR_DATE_FINISHED] = @DATE_FINISHED,
	[WR_EFFORT_EST] = @EFFORT_EST,
	[WR_ACT_EFFORT] = @ACT_EFFORT,
	[WR_ACT_EFFORT_WK] = @ACT_EFFORT_WK,
	[WR_COMMENTS] = @COMMENTS,
	[WR_INBOUND_CONTACTS] = @INBOUND_CONTACTS
WHERE
	[WR_ID] = @WR_ID AND
	[WR_WEEK_RANGE_ID] = @WR_RANGE_ID AND
	[WR_EMP_ID] = @EMP_ID