USE [AIDE]
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSabaXref]    Script Date: 6/17/2019 7:31:09 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpdateSabaXref] 
@SABA_ID INT,
@EMP_ID INT,  
@DATE_COMPLETED DATE
AS

BEGIN

UPDATE SABA_XREF SET 
DATE_COMPLETED = @DATE_COMPLETED 
WHERE SABA_ID = @SABA_ID AND EMP_ID = @EMP_ID

END
GO
